h1 {
  color: #FF3652;
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
  color: #8E7CFF;
}

h4 {
  text-align: center;
}

body {
  background-color: #92FFEE
}

ul {
  font-size: 15px;
  line-height: 20px;
}

ol {
  font-size: 17px;
  line-height: 22px;
}

a {
  color: #8E7CFF
}

.sign-type {
  text-decoration: underline;
}

.sign {
  font-style: oblique;
}

.imagesTo {
  display: inline-block;
  image-orientation: center;
}

.images {
  width: 33%;
  border: 2px solid #E80C56;
  padding: 2px solid #E80C56;
}

.sidebar {
  width: 65%;
  float: right;
  background-color: #FF513F;
  margin-left: 15px
}

.columns {
  width: 30%;
  margin-left: 10px;
  margin-bottom: 5px;
  float: left;
}

.columns:hover {
  background-color: #FF7A69;
}

/* Media Queries*/

/* Phones to Tablets */

@media screen and (min-width: 481 px) {


}
